<header class="bg-primary">
  <nav class="container">
    <div class="row py-3 header-row">
      <div class="col-12 d-flex align-items-center header-nav">
        <a href="../pages/index.html"
          ><img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
            alt="logo-white"
            width="80px"
        /></a>

        <div class="ms-auto">
          <a href="../pages/series.html" class="fs-5">系列鏡框</a
          ><a href="../pages/location.html" class="ms-16 fs-5">門市據點</a
          ><a href="../pages/blog.html" class="ms-16 fs-5">部落格</a
          ><a href="../pages/qa.html" class="ms-16 fs-5">常見問題</a>
        </div>
      </div>
    </div>
  </nav>
</header>
